header{
	box-shadow: 0 .1rem .1rem 0 $gray-dark;
	background: url(../images/logos/grand-d.png) no-repeat center fixed;
	-webkit-background-size: cover;/* pour anciens Chrome et Safari */
	background-size: cover;/* version standardisée */
	background-position: 50% 50%;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	min-height: 550px;
	color: #fff;

	h1{
		border-bottom: 3px solid;
		padding: 2rem;

		img{
			width: 100%;
		}
	}
	nav{
		width: 100%;
		background: $gray;
		z-index: 100;
		display: none;
		position: fixed;
		box-shadow: 1px 1px .2rem $gray-dark;
		@include pad(0 default);

		@include media(max-width $screen-tablet) {
			height: 5rem;

			> ul{
				height: 5rem;
			}

		}
		.pull-left{
			opacity: .15;
			@include transition(opacity .3s ease-in-out);
			&:hover{
				opacity: 1;
			}
			img{
				max-height: 2.5rem;
			}
		}
		a{
			color: $gray-dark;
			display: inline-block;
			width: 100%;
			line-height: 5rem;
			padding: 0 1rem;
			@include transition(box-shadow .3s ease-in-out);

			&:focus{
				outline: none;
				color: $pink;
			}
		}
		li.menu_query{
			img{
				display: none;
			}

			@include media(max-width $screen-tablet) {
				ul{
					display: none;
					padding: 0;
					background: $gray;
					margin-top: 5rem;
				}
				img{
					max-height: 2.5rem;
					position: absolute;
					top: 1rem;
					right: 2rem;
					cursor: pointer;
					display: block;
				}
				&:hover ul{
					display: block;
				}
				li{
					display: block;
				}
			}
			li{
				a{
					@include media(max-width $screen-phone) {
						line-height: 3rem;
						display: block;
					}
					&.active{
						color: $pink;
						box-shadow: 0 -.3rem 0 0 $pink inset;

						@include media(max-width $screen-phone) {
							box-shadow: .3rem 0 0 0 $pink inset;
							width: 100%;
						}
					}
				}
			}
			li:hover{
				a{
					box-shadow: 0 -.3rem 0 0 $pink inset;
				}

				@include media(max-width $screen-phone) {
					a{
						box-shadow: .3rem 0 0 0 $pink inset;
					}
				}
			}
		}
	}
	.scroll-down{
		display: block;
		position: absolute;
		bottom: 5%;
		left: 50%;
		margin-left: -16px;
		width: 34px;
		height: 34px;
		font-size: 34px;
		text-align: center;
		text-decoration: none;
		color: white;
		outline: none;
	}
	p{
		font-size: 5rem;

		@include media(max-width $screen-phone) {
			font-size: 2rem;
		}
	}
	.img-navig {
		position: absolute;
		bottom: 1rem;
		width: 13rem;
		text-align: center;
		padding: .5rem;
		right: 0;
		@include media(max-width $screen-tablet) {
			display: none;
		}
		.tooltip-item {
			float: left;
			position: relative;
			width: 100%;
			padding-bottom: .7rem;
			&.mouse {
				background: url(../images/utilities/mouse.png) center center no-repeat;
				height: 40px;
			}
			.tooltip {
				display: none;
				top: -4rem;
			}
			&:hover .tooltip {
				display: block;
			}
			img {
				&.img-utile1 {
					width: 42%;
				}
				&.img-utile2 {
					width: 28%;
				}
			}
		}
	}
}
