header{    
    box-shadow: 0 .1rem .1rem 0 $gray-dark;
    
    section{
        background-color:  $gray-dark;
        color: #fff;
        }
    h1{
        border-bottom: 3px solid;
        padding: 2rem;
        img {width: 100%;}
    }
    nav{
        background: $gray;
        @include pad(0 default);
        
        img{
            max-height: 2.5rem;
            opacity: .15;
            @include transition(opacity .3s ease-in-out);

            &:hover{ opacity: 1; }
        }
    }
    a{
        color: $gray-dark;
        display: inline-block;
        line-height: 5rem;
        padding: 0 1rem;
        @include transition(box-shadow .3s ease-in-out);

        &.active{ background-color: $pink; }
    }
    li:hover{
        &:nth-last-child(1) a{ box-shadow: 0 -.3rem 0 0 $pink inset; }
        &:nth-last-child(2) a{ box-shadow: 0 -.3rem 0 0 $pink inset; }
        &:nth-last-child(3) a{ box-shadow: 0 -.3rem 0 0 $pink inset; }
        &:nth-last-child(4) a{ box-shadow: 0 -.3rem 0 0 $pink inset; }
    }
}
