header{
    background: $gray-dark;
    box-shadow: 0 .3rem .5rem 0 $gray-darker;
    
    section{
        background-color:  $gray-darker;
        }
    h1{
        border-bottom: 3px solid;
        padding: 2rem;
    }
    nav{
        background: $gray-dark;
        @include pad(0 default);
        
        img{
            max-height: 2.5rem;
            opacity: .15;
            @include transition(opacity .3s ease-in-out);

            &:hover{ opacity: 1; }
        }
    }
    a{
        color: #fff;
        display: inline-block;
        line-height: 5rem;
        padding: 0 1rem;
        @include transition(box-shadow .3s ease-in-out);

        &.active{
            &:nth-child(1){ background-color: $red; }
            &:nth-child(2){ background-color: $green; }
            &:nth-child(3){ background-color: $yellow; }
            &:nth-child(4){ background-color: $blue; }
        }
    }
    li:hover{
        &:nth-last-child(1) a{ box-shadow: 0 -.5rem 0 0 $blue inset; }
        &:nth-last-child(2) a{ box-shadow: 0 -.5rem 0 0 $yellow inset; }
        &:nth-last-child(3) a{ box-shadow: 0 -.5rem 0 0 $green inset; }
        &:nth-last-child(4) a{ box-shadow: 0 -.5rem 0 0 $red inset; }
    }
}
