header{
    background: $gray-dark;
    box-shadow: 0 .3rem .5rem 0 $gray-dark;
    
    section{
        background-color:  $gray-darker;
        }
    h1{
        border-bottom: 3px solid;
        padding: 2rem;
    }
    nav img{
        max-height: 3.6rem;
        opacity: .15;
        @include transition(opacity .3s ease-in-out);
        &:hover{ opacity: 1; }
    }
    a{
        display: inline-block;
        line-height: 5rem;
        color: #fff;
        font-size: 120%;
        @include transition(box-shadow .3s ease-in-out);
    }
    .pull-right a{
        padding: 0 2rem;

        &.active{
            &:nth-child(1){ background-color: $red; }
            &:nth-child(2){ background-color: $green; }
            &:nth-child(3){ background-color: $yellow; }
            &:nth-child(4){ background-color: $blue; }
        }
        &:hover{
            &:nth-child(1){ box-shadow: 0 -.5rem 0 0 $red inset; }
            &:nth-child(2){ box-shadow: 0 -.5rem 0 0 $green inset; }
            &:nth-child(3){ box-shadow: 0 -.5rem 0 0 $yellow inset; }
            &:nth-child(4){ box-shadow: 0 -.5rem 0 0 $blue inset; }
        }
    }
}
