main{
    h2{
        border-bottom: 3px solid;
        padding: 2rem;
    }
    a{
        color: inherit;
        &:hover{
            text-decoration: underline;
        }
    }
    .address{
        margin-bottom: 2rem;
    }
    .social a img{
        @include transition(opacity .3s ease-in-out);

        &:hover{
            opacity: .65;
        }
    }
    section {
        &:nth-child(1){ background-color: #fff; }
        &:nth-child(2){ background-color: $pink-light; }
        &:nth-child(3){ background-color: #fff; }
        &:nth-child(4){ background-color: $pink-light; }
    }
    #qui{
        article{
            margin-right: 16rem;
        }
        .chart{
            border:none;height:60px;margin:0.1rem;padding:0;position:relative;width:60px;background:white;cursor:pointer;
            canvas{left:0;position:absolute;top:0;}
            img{left:0;position:absolute;top:0;width:60px;height:60px;}
            &:hover{background:transparent;}
        }
        .performances{
            @include outer-container;
            >div{ 
                @include span-columns(3);
                text-align: center;
            }
        }
    }
    #realisations{
        .tab{
            @include outer-container;
            >div:nth-child(1){ 
                @include span-columns(5);
                text-align: center;
                .img_package{background-size: auto 100%;}
            }
            >div:nth-child(2){ 
                @include span-columns(7);
                text-align: center;
                .img_package{background-size: 100%;}
            }
            .img_package{
                background-repeat: no-repeat;
                
            }
            h3 {margin: 0;}
            .description{
                background:#fff;bottom:0;display:none;left:0;max-height:6rem;opacity:.85;padding:.2rem;position:absolute;width:100%;
                
                p{text-overflow:ellipsis;overflow:hidden;white-space:nowrap;margin: 0;}
            }
            .cell{
                position: relative;
                &:hover .description{display: block;}
            }
        }
    }
}

