main{
	h2
	{
		border-bottom: 3px solid;
		padding: 2rem;
		margin-bottom: 4rem;
	}
	a{
		color: inherit;

		&:hover{
			text-decoration: none;
			border-bottom: 2px solid;
		}
	}
	.address{
		margin-bottom: 2rem;
	}
	.social a {
		@include transition(opacity .3s ease-in-out);

		&:hover {
			opacity: .65;
			border-bottom: none;
		}
		img{
			@include media(max-width $screen-phone) {
				width: 15%;
			}
		}
	}
	section{
		position: relative;

		&:nth-child(odd){
			background-color: #fff;
		}
		&:nth-child(even){
			background-color: $pink-light;
		}
	}
	#realisations{
		.tab{
			@include outer-container;

			> div:nth-child(1){
				text-align: center;
				@include span-columns(5);

				.img_package{
					background-size: cover;
				}

				@include media(max-width $screen-phone) {
					@include span-columns(12);
				}
			}
			> div:nth-child(2){
				text-align: center;
				@include span-columns(7);

				.img_package{
					background-size: cover;
				}

				@include media(max-width $screen-phone) {
					@include span-columns(12);
				}
			}
			.img_package{
				background-repeat: no-repeat;

				img{
					max-width: inherit;
					opacity: .7;
					@include media(max-width $screen-phone) {
						max-width: 100%;
					}
				}
			}
			h3{
				margin: 0;
			}
			.description{
				background: rgba(255,255,255,0.60);
				bottom: 0;
				left: 0;
				max-height: 6rem;
				padding: .2rem;
				position: absolute;
				width: 100%;
				opacity: 0;
				@include transition(opacity .3s ease-in-out);

				p{
					text-overflow: ellipsis;
					overflow: hidden;
					white-space: nowrap;
					margin: 0;
				}
			}
			.cell{
				position: relative;
				z-index: 5;
				box-shadow: 0 0.2rem 0.3rem $gray-dark;
				cursor: pointer;
				@include transition(all .2s ease-in-out);
				@include media(max-width $screen-phone) {
					margin-top: 2rem;
				}

				&:hover{
					z-index: 10;
					@include transform(scale(1.05));

					.description{
						opacity: 1;
					}
				}
				&.active{
					z-index: 10;
					position: relative;
					cursor: pointer;
					@include transform(scale(1.1));
				}
			}
		}
		.bg{
			background: rgba(255,255,255,.5);
			z-index: 50;
			position: absolute;
			display: none;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
		}
	}
	.popin-bg{
		bottom: 0;
		color: #333;
		display: none;
		left: 0;
		right: 0;
		top: 0;
		z-index: 50;
		position: relative;
		width: 100%;
	}
	.popin{
		background: white;
		bottom: 0;
		position: relative;
		width: 100%;
		padding: 2rem;
		box-shadow: 0.2rem 0.2rem 0.5rem $gray-dark;
		.close{
			position: absolute;
			right: 1.5rem;
			top: 1.5rem;
			cursor: pointer;

			@include media(max-width $screen-phone) {
				width: 14px;
			}
			.img{
				margin-left: .2rem;
				vertical-align: bottom;
			}
		}
		h1{
			text-align: left;
		}
	}
	.popin > .desc, .popin .carousel{
		display: inline-block;
		vertical-align: top;
		width: 100%;
	}
	.popin > .desc{
		width: 30%;
		padding: 10px 10px 10px 0;
	}
	.popin > .carousel{
		text-align: center;
		width: 70%;

		.img{
			margin: auto;
			width: auto;
			height: 330px;

			@include media(max-width $screen-phone) {
				width: 180px;
				height: auto;
			}
		}
		.carousel-indicators{
			bottom: 0;
			margin-bottom: 0;
		}
		.carousel-control{
			background: 0;
		}
		.carousel-caption{
			bottom: 0;
			left: 0;
			padding-bottom: 20px;
			right: 0;
			text-shadow: none;
			display: none;
			position: absolute;

			@include media(max-width $screen-phone) {
				padding-bottom: 2px;
			}
		}
	}
	.popin .carousel:hover .carousel-caption{
		background: rgba(255,255,255,.50);
		display: block;
	}
	#contact{
		.col-md-4{
			@include media(max-width $screen-phone) {
				margin-top: 7rem;
			}
		}
	}
	#services{
		div{
			text-align: center;
		}
		[class^="icon-"]::before, [class*=" icon-"]::before{
			font-size: 5rem;
		}
		.icon-analyser::before{
			content: "\e604";
			font-family: "icomoon";
		}
		.icon-proposer::before{
			content: "\e605";
			font-family: "icomoon";
		}
		.icon-concevoir::before{
			content: "\e603";
			font-family: "icomoon";
		}
		.icon-developper::before{
			content: "\e602";
			font-family: "icomoon";
		}
		.icon-agencer::before{
			content: "\e601";
			font-family: "icomoon";
		}
		.icon-cooperer::before{
			content: "\e600";
			font-family: "icomoon";
		}
		.icon-veiller::before{
			content: "\e606";
			font-family: "icomoon";
		}
	}
}
