/* Screen sizes */
$screen-phone: 480px;
$screen-tablet: 768px;
$screen-desktop: 992px;

$screen-xs-max: $screen-phone - 1;
$screen-sm-min: $screen-phone;
$screen-sm-max: $screen-tablet - 1;
$screen-md-min: $screen-tablet;
$screen-md-max: $screen-desktop - 1;
$screen-xl-min: $screen-desktop;


/* Color */
$red: #c03;

$green: #0c9;

$blue: #069;
$blue-dark: #00294f;

$yellow: #fc0;

$gray: #999;
$gray-dark: #666;
$gray-darker: #333;

$clr-text: $gray-darker;
