/* Screen size */
$screen-phone: 480px;
$screen-tablet: 768px;
$screen-desktop: 992px;

$screen-xs-max: $screen-phone - 1;
$screen-sm-min: $screen-phone;
$screen-sm-max: $screen-tablet - 1;
$screen-md-min: $screen-tablet;
$screen-md-max: $screen-desktop - 1;
$screen-xl-min: $screen-desktop;
