@font-face {
	font-family: "icomoon";
	font-style: normal;
	font-weight: normal;
	src:url("../fonts/icomoon.eot");
	src:url("../fonts/icomoon.eot") format("embedded-opentype"),
	url("../fonts/icomoon.ttf") format("truetype"),
	url("../fonts/icomoon.woff") format("woff"),
	url("../fonts/icomoon.svg") format("svg");
}

[class*="icon-"]::before {
	font-size: 5rem;
	font-family: "icomoon";
}
.icon-agencer::before {
	content: "\e601";
}
.icon-analyser::before {
	content: "\e604";
}
.icon-arrow-down2::before {
	content: "\ea3e";
}
.icon-close::before {
	content: "\ea0f";
}
.icon-cooperer::before {
	content: "\e600";
}
.icon-concevoir::before {
	content: "\e603";
}
.icon-developper::before {
	content: "\e602";
}
.icon-proposer::before {
	content: "\e605";
}
.icon-veiller::before {
	content: "\e606";
}
