form {
   input, textarea {
      border: 1px solid $pink;
      color: $gray-dark;
      display: block;
      margin: 1.4rem 0;
      max-height: 10rem;
      max-width: 100%;
      min-width: 100%;
      padding: .2rem .5rem;
      @include placeholder {
         color: $pink;
      }

      &:focus {
         outline: 2px solid $pink;
      }
   }
   input {
      height: 4rem;

      // &:first-child {
      //    margin-top: 0;
      // }
   }
   button {
      background-image: url(../images/utilities/btn_valider.png);
      border: 1px solid $pink;
      box-shadow: 1px 1px 0.2rem $gray-dark;
      color: #fff;
      height: 39px;
      padding: 0 1.5rem;
      @include transition(opacity .3s ease-in-out);

      &:hover {
         opacity: .65;
      }
      // &:focus {
      //    outline: 0;
      // }
   }

   .tooltip-submit {
      background: $pink;
      box-shadow: 1px 1px 0.2rem $gray-dark;
      color: white;
      padding: 2rem;
      position: absolute;
      top: 50%;
      // text-align: center;
      width: 35rem;
      @include calc(left, "(100% - 35rem) / 2");
   }
}
