main{
	h2
	{
		border-bottom: 3px solid;
		padding: 2rem;
		margin-bottom: 4rem;
	}
	a{
		color: inherit;

	}
	.address{
		margin-bottom: 2rem;
		a:hover{
			text-decoration: none;
			border-bottom: 2px solid;
		}
	}
	.social a {
		box-shadow: 1px 1px 0.2rem $gray-dark;
		@include transition(opacity .3s ease-in-out);

		&:hover {
			opacity: .65;
			border-bottom: none;
		}
		img{
			@include media(max-width $screen-phone) {
				width: 15%;
			}
		}
	}
	section{
		position: relative;

		&:nth-child(odd){
			background-color: #fff;
		}
		&:nth-child(even){
			background-color: $pink-light;
		}
	}
	#realisations{
		.tab{
			@include outer-container;
			.cell{
				position: relative;
				z-index: 5;
				box-shadow: 0 0.2rem 0.3rem $gray-dark;
				cursor: pointer;
				margin-top: 2rem;
				height: 355px;
				background-color: #ffffff;
				@include transition(all .2s ease-in-out);
				@include media(max-width $screen-phone) {
					height: auto;
				}

				&:hover{
					z-index: 10;
					@include transform(scale(1.05));

					.description{
						opacity: 1;
					}
				}
				&.active{
					z-index: 10;
					position: relative;
					cursor: pointer;
					@include transform(scale(1.1));
				}
				.img_package{
					background-size: cover;
					background-repeat: no-repeat;
					background-position: center center;
					overflow: hidden;
					img{
						/*max-width: inherit;*/
						opacity: .45;
						@include media(max-width $screen-phone) {
							max-width: 100%;
						}
					}
				}

				.description{
					background: rgba(255,255,255,0.60);
					bottom: 0;
					left: 0;
					max-height: 6rem;
					padding: .2rem;
					position: absolute;
					width: 100%;
					opacity: 0;
					@include transition(opacity .3s ease-in-out);
					h3{
						margin: 0;
					}
					p{
						text-overflow: ellipsis;
						overflow: hidden;
						white-space: nowrap;
						margin: 0;
						max-height: 2rem;
					}
				}
			}
		}
	}
	.popin-bg{
		bottom: 0;
		color: #333;
		display: none;
		left: 0;
		right: 0;
		top: 0;
		z-index: 102;
		position: absolute;
		width: 100%;
	}
	.popin{
		background: white;
		bottom: 0;
		position: relative;
		width: 100%;
		padding: 2rem;
		box-shadow: 0.2rem 0.2rem 0.5rem $gray-dark;
		.close::before{
			position: absolute;
			right: 1.5rem;
			top: 1.5rem;
			cursor: pointer;
			content: "\ea0f";
			font-family: "icomoon";
			font-size: 1.8rem;
			color: $gray-dark;

			@include media(max-width $screen-phone) {
				width: 14px;
			}
			.img{
				margin-left: .2rem;
				vertical-align: bottom;
			}
		}
		h1{
			text-align: left;
		}

	}
	.popin .carousel:hover .carousel-caption{
		background: rgba(255,255,255,.6);
		display: block;
	}
	#contact{
		.col-xl-4{
			margin-top: 1.5rem;
			@include media (max-width $screen-phone) {
				margin-top: 7rem;
			}
		}
	}
	#services{
		.cellule {
			[class^="col-"], [class*="col-"] {
				text-align: center;
				/*min-height: 30rem;*/
				@include media($screen-tablet) {
					@include omega(3n);
				}
				@include media(max-width $screen-tablet) {
					@include omega(even);
				}
				// p{
				// 	overflow-y: hidden;
				// 	max-height: 0;
				// 	@include transition(max-height 1.2s ease-in-out);
				// }
				// &:hover{
				// 	color: $pink;
				// 	cursor: default;
				// 	p {
				// 		max-height: 30rem;
				// 		@include transition(max-height 1.4s ease-in-out);
				// 	}
				// }
			}
		}
		[class^="icon-"]::before, [class*=" icon-"]::before{
			font-size: 5rem;

		}
		.icon-analyser::before{
			content: "\e604";
			font-family: "icomoon";
		}
		.icon-proposer::before{
			content: "\e605";
			font-family: "icomoon";
		}
		.icon-concevoir::before{
			content: "\e603";
			font-family: "icomoon";
		}
		.icon-developper::before{
			content: "\e602";
			font-family: "icomoon";
		}
		.icon-agencer::before{
			content: "\e601";
			font-family: "icomoon";
		}
		.icon-cooperer::before{
			content: "\e600";
			font-family: "icomoon";
		}
		.icon-veiller::before{
			content: "\e606";
			font-family: "icomoon";
		}
	}
}
.bg{
	background: rgba(255,255,255,.5);
	z-index: 101;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.spinner{
	margin: 0 auto;
	width: 40px;
	height: 40px;
	position: fixed;
	text-align: center;
	-webkit-animation:
	sk-rotate 2.0s infinite linear;
	animation: sk-rotate 2.0s infinite linear;
	top:50%;
	left: 50%;
	z-index: 102;
}
.dot1, .dot2{
	width: 60%;
	height: 60%;
	display: inline-block;
	position: absolute; top: 0;
	background-color: $pink;
	border-radius: 100%;
	-webkit-animation: sk-bounce 2.0s infinite ease-in-out;
	animation: sk-bounce 2.0s infinite ease-in-out;
}
.dot2{
	top: auto;
	bottom: 0;
	-webkit-animation-delay: -1.0s;
	animation-delay: -1.0s;
}
@keyframes sk-rotate {
	100% {
		@include transform(rotate(360deg));
		}
}
@keyframes sk-bounce {
	0%, 100% {
		@include transform(scale(0.0));
	}
	50% {
		@include transform(scale(1.0));
	}
}
