main {
	// h2	{
	// 	border-bottom: 3px solid;
	// 	padding: 2rem;
	// 	margin-bottom: 4rem;
	// }
	// a {
	// 	color: inherit;
	// }
	.address {
		margin-bottom: 2rem;

		a:hover {
			border-bottom: 2px solid;
		}
	}
	.social a img {
		box-shadow: 1px 1px 0.2rem $gray-dark;
		width: 15%;
		@include transition(opacity .3s ease-in-out);

		&:hover {
			opacity: .65;
		}

		@include media($screen-phone) {
			width: initial;
		}
	}
	section {
		position: relative;
		background-color: #fff;

		&:nth-child(even) {
			background-color: $pink-light;
		}
	}
	#realisations {
		.tab {
			@include outer-container;

			.cell {
				position: relative;
				z-index: 5;
				box-shadow: 0 0.2rem 0.3rem $gray-dark;
				cursor: pointer;
				margin-top: 2rem;
				height: auto;
				background-color: #ffffff;
				@include transition(all .2s ease-in-out);

				@include media($screen-phone) {
					height: 355px;
				}

				&:hover {
					z-index: 10;
					@include transform(scale(1.05));

					.description {
						opacity: 1;
					}
				}
				&.active {
					z-index: 10;
					position: relative;
					cursor: pointer;
					@include transform(scale(1.1));
				}
				.img_package {
					background-size: cover;
					background-repeat: no-repeat;
					background-position: center center;
					overflow: hidden;

					img {
						opacity: .45;
					}
				}

				.description {
					background: rgba(255,255,255,0.60);
					bottom: 0;
					left: 0;
					max-height: 6rem;
					padding: .2rem;
					position: absolute;
					width: 100%;
					opacity: 0;
					@include transition(opacity .3s ease-in-out);

					h3 {
						margin: 0;
					}
					p {
						text-overflow: ellipsis;
						overflow: hidden;
						white-space: nowrap;
						margin: 0;
						max-height: 2rem;
					}
				}
			}
		}
	}
	#contact {
		.col-xl-4 {
			margin-top: 1.5rem;
			@include media (max-width $screen-phone) {
				margin-top: 7rem;
			}
		}
	}
	#services {
		.cellule {
			[class*="col-"] {
				// text-align: center;
				// min-height: 30rem;
				@include media(max-width $screen-tablet) {
					@include omega(even);
				}

				@include media($screen-tablet) {
					@include omega(3n);
				}
				// p {
				// 	overflow-y: hidden;
				// 	max-height: 0;
				// 	@include transition(max-height 1.2s ease-in-out);
				// }
				// &:hover {
				// 	color: $pink;
				// 	cursor: default;
				// 	p {
				// 		max-height: 30rem;
				// 		@include transition(max-height 1.4s ease-in-out);
				// 	}
				// }
			}
		}
	}
}
.bg {
	background: rgba(255,255,255,.5);
	z-index: 101;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
