.list-unstyled {
	margin: 0 auto;
	padding: 0;
	list-style: none;
}
.list-inline {
	li {
		display: inline-block;
		vertical-align: top;
	}
}
.pull-left {
	float: left;
}
.pull-right {
	float: right;
}
.font-xxs {
	font-size: 50%;
}
.font-xs {
	font-size: 80%;
}
.font-xl {
	font-size: 90%;
	@include media($screen-phone) {
		font-size: 120%;
	}
}
.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}
.text-center {
	text-align: center;
}
.text-justify {
	text-align: justify;
}
div.inline-flex {
	display: inline-flex;
	position: inherit;
}
.hidden {
	text-indent: -9999px;
	visibility: hidden;
	display: none;
}
a.icon-arrow-down2::before {
	content: "\ea3e";
	font-family: "icomoon";
	color: white;
}
[class^="icon-"]::before, [class*=" icon-"]::before {
	font-family: "icomoon";
}

.tooltip {
	background: $pink;
	padding: .5rem;
	top: -2.5rem;
	position: absolute;
	color: white;
	box-shadow: 1px 1px 0.2rem $gray-dark;

	&::before {
		content: "";
		height: 12px;
		width: 12px;
		position: absolute;
		box-shadow: 1px 1px 0.2rem $gray-dark;
		@include calc(top, "100% - 6px");
		@include calc(left, "(100% - 12px)/2");
		@include transform(rotate(45deg));
		background: $pink;
		line-height: 0;
	}
}


.last {
	margin-right:0;
}
