.list-unstyled {
	list-style: none;
	margin: 0 auto;
	padding: 0;
}
.list-inline {
	li {
		display: inline-block;
		vertical-align: top;
	}
}
.pull-left {
	float: left;
}
.pull-right {
	float: right;
}
.font-xxs {
	font-size: 50%;
}
.font-xs {
	font-size: 80%;
}
.font-xl {
	font-size: 90%;

	@include media($screen-phone) {
		font-size: 120%;
	}
}
.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}
.text-center {
	text-align: center;
}
.text-justify {
	text-align: justify;
}
.inline-flex {
	display: inline-flex;
	position: inherit;
}
.hidden {
	display: none;
	text-indent: -9999px;
	visibility: hidden;
}

.tooltip {
	// background: $pink;
	// box-shadow: 1px 1px 2px $gray-dark;
	color: white;
	padding: .5rem;
	// position: absolute;
	top: -2.5rem;

	&, &::before {
		background: $pink;
		box-shadow: 1px 1px 2px $gray-dark;
		position: absolute;

	}
	&::before {
		// background: $pink;
		// box-shadow: 1px 1px 2px $gray-dark;
		content: "";
		height: 12px;
		line-height: 0;
		// position: absolute;
		width: 12px;
		@include calc(top, "100% - 6px");
		@include calc(left, "(100% - 12px) / 2");
		@include transform(rotate(45deg));
	}
}


.last {
	margin-right: 0;
}
