// Screen sizes
$screen-phone: 480px;
$screen-tablet: 768px;
$screen-desktop: 992px;


// Color
$pink: #c0143c;
$pink-light: #fbe9ed;
$yellow: #fc0;
$gray: #ecebeb;
$gray-dark: #474646;
$clr-text: $gray-dark;


$spinkit-spinner-margin: 40px auto !default;
$spinkit-spinner-color: $pink !default;
